<div class="side-bar col-lg-3">

    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent" >Поиск смесей</h3>
        <form action="{% url "smesi_search" %}" method="get" class="d-flex editContent" >
            <input type="search" placeholder="Введите название смеси..." name="q" class="form-control" required="">
            <button type="submit" class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
        </form>
    </div>
    <!--preference -->
    <form action="{% url 'smesi_filter' %}" method="get" name="filter">
        <div class="left-side my-4">
            <h3 class="sear-head editContent">Дата изготовления</h3>
            <ul class="w3layouts-box-list">
                <li class="editContent">
                    <input type="date" class="checked" name="date" value="2021-01-01">
                    {#                        <span class="span editContent">{{ smesi.date.year }}</span>#}
                </li>
            </ul>
{#            <h3 class="sear-head editContent">ФИО сотрудников</h3>#}
{#            <ul class="w3layouts-box-list">#}
{#                {% for smesi in view.get_smesiworker %}#}
{#                    <li class="editContent">#}
{#                        <input type="checkbox" class="checked" name="worker_name" value="{{ smesi.worker_name }}">#}
{#                        <span class="span editContent">{{ smesi.worker_name }}</span>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </div>
        <!-- // preference -->
        <!-- discounts -->
        <button type="submit">Найти</button>
    </form>
</div>
<!-- //product left -->