<div class="side-bar col-lg-3">

    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent" >Поиск изделий на складе</h3>
        <form action="{% url "storage_goods_search" %}" method="get" class="d-flex editContent" >
            <input type="search" placeholder="Введите код изделия или имя заказчика..." name="q" class="form-control" required="">
            <button type="submit" class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
        </form>
    </div>
{#    <!--preference -->#}
{#    <form action="{% url 'goods_filter' %}" method="get" name="filter">#}
{#        <div class="left-side my-4">#}
{#            <h3 class="sear-head editContent">Фильтры(старые)</h3>#}
{#            <ul class="w3layouts-box-list">#}
{#                <li class="editContent">#}
{#                    <span class="span editContent">Минимальная температура</span>#}
{#                    <input type="number" name="temp" value="" min="0">#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        <!-- // preference -->#}
{#        <!-- discounts -->#}
{#        <button type="submit">Найти</button>#}
{#    </form>#}
</div>
<!-- //product left -->