<div class="side-bar col-lg-3">

    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent" >Поиск</h3>
        <form action="#" method="post" class="d-flex editContent" >
            <input type="search" placeholder="Введите название..." name="search" class="form-control" required="">
            <button class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
        </form>
    </div>
    <!--preference -->
<form action="{% url 'worker_filter' %}" method="get" name="filter">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Фильтры</h3>
        <ul class="w3layouts-box-list">
            {% for work in view.get_category %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="category" value="{{ work.category }}">
                    <span class="span editContent">{{ work.category }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- // preference -->
    <!-- discounts -->
    <button type="submit">Найти</button>
</form>
</div>
<!-- //product left -->