{% extends 'storage_goods/base.html' %}

{% load static %}
{% block title %}Изделие: {{ goods.goods_code }} {% endblock title %}
{% block header_title %}Изделие: {{ goods.goods_code }} {% endblock header_title %}

{% block storage_goods %}
    <div class="left-ads-display col-lg-8">
        <div class="container">

            <div class="desc1-right col-md-6 pl-lg-4" >

                    <input type="button" onclick='location.href="update"' value="Редактировать изделие">
                    <input type="button" class="btn btn-danger" onclick='location.href="delete"' value="Удалить изделие">
                <ul style="margin-top: 15px">
                    <li style="list-style: none"><span><b>Код изделия: </b>{{ goods.goods_code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Количество на складе: </b>{{ goods.value }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Имя заказчика: </b>{{ goods.customer_code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Код заказа: </b>{{ goods.customer_checkout }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock storage_goods %}
