{% extends 'smesi/base.html' %}

{% block title %} Список смесей {% endblock title %}
{% block header_title %} Список смесей {% endblock header_title %}

{% block smesi %}
    <!-- product right -->
    <div class="left-ads-display col-lg-9">
        <div class="row">
            {% for smesi in smesi_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="men-thumb-item">
                            <img src="bundles/images/s1.jpg" class="img-fluid" alt="" >
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ smesi.get_absolute_url }}" class="editContent" >
                                    {{ smesi.code }}
                                </a>
                            </h4>
                            <div class="product_price">
                                <div class="grid-price">
                                    <a href="{{ smesi.get_absolute_url }}"><span class="money editContent" >{{ smesi.code }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-img-right mt-4 text-right bg bg1" >
            {% include 'include/pagination/smesi_pagination.html' %}
        </div>
    </div>
    <!-- //contact -->
{% endblock smesi %}