{% extends "nariad/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование наряда
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование наряда
{% endblock header_title %}

{% block header_image %}
<div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block nariad %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о наряде</h3>
        Код наряда: {{ form.code }}<br>
        Код сотрудника: {{ form.worker_code }}<br>
        Код изделия: {{ form.goods_code }}<br>
        Код смеси: {{ form.material_code }}<br>
        Количество: {{ form.value }}<br>
        Дата: {{ form.date }}<br>
        Расход смеси: {{ form.consumption }}<br>

        <span>{{ error }}</span>
        <button type="submit">Подтвердить</button>
    </form>

{% endblock nariad %}