{% extends "nariad/base.html" %}

{#Надпись в Title#}
{% block title %}
    Удаление изделия
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Удаление изделия
{% endblock header_title %}

{#Надпись в шапке#}
{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block nariad %}
<h3>Вы действительно хотите удалить изделие?</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button type="submit">Удалить изделие</button>
        </form>
{% endblock nariad %}