{% extends "nariad/base.html" %}

{#Надпись в Title#}
{% block title %}
    Удаление изделия
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Удаление изделия
{% endblock header_title %}


{% block nariad %}
<h3>Вы действительно хотите удалить изделие?</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger" style="margin-top:15px;margin-bottom: 15px">Удалить изделие</button>
        </form>
{% endblock nariad %}