{% extends 'main/base.html' %}

{% block title %} Главная {% endblock title %}
{% block header_title %} Главная <br>!!!Вернуть пагинацию{% endblock header_title %}

{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}

{% block main %}
    <!-- product right -->
    <div class="left-ads-display col-lg-12">
        <div class="row">
            <div class="col-md-4 product-men">
                <a href="{% url "workers_list" %}" class="editContent" style="color: lime">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Сотрудники</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 product-men">
                <a href="{% url "material_list" %}" class="editContent" style="color: lime">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Материалы</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 product-men">
                <a href="{% url "goods_list" %}" class="editContent" style="color: lime">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Изделия</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 product-men">
                <a href="{% url "supplier_list" %}" class="editContent" style="color: lime">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Поставщики</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 product-men">
                <a href="{% url "customer_list" %}" class="editContent" style="color: lime">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Заказчики</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 product-men">
                <a href="{% url "storage_goods_list" %}" class="editContent" style="color: yellow">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">Склад изделий <br>
                            (Сделать подробности, форму добавления, прибавления и убавления изделия)
                            </h4>
                        </div>
                    </div>
                </a>
            </div>

             <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
{#                                <a href="{% url "remote_list" %}" class="editContent" >#}
                                    Склад материалов
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>

             <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
{#                                <a href="{% url "remote_list" %}" class="editContent" >#}
                                    Наряды
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>

             <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
{#                                <a href="{% url "remote_list" %}" class="editContent" >#}
                                    ОТК
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>

            <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
{#                                <a href="{% url "remote_list" %}" class="editContent" >#}
                                    Отчеты
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>

        </div>
        <!--<div class="grid-img-right mt-4 text-right bg bg1" >
            <span class="money editContent" >Flat 50% Off</span>
            <a href="moviesingle.html" class="btn" >Now</a>
        </div>-->
    </div>
    <!-- //contact -->
{% endblock main %}