<!-- footer -->
<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-4">
                    <a href="{% url "customer_list" %}" class="editContent">
{#                    <a href="{% url 'main' %}" class="editContent">#}
                        <span class="fa" aria-hidden="true" >
                            PROKES.RUS
                        </span>
                    </a>
                </h2>
                <p class="editContent" >
                    Компания по созданию резиновых автомобильных деталей
                </p>
            </div>
            <div class="col-lg-8 footer-right">
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Контактная информация</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent" >Email </h4>
                                <p class="editContent" ><a href="mailto:Prokes.rus@yandex.ru">Prokes.rus@yandex.ru</a></p>
                            </div>
                            <div class="footer-address-inf">
                                <h4 class="ad-info mb-2 editContent" >Расположение</h4>
                                <p class="editContent" >Ульяновская область, город Димитровград, улица Промышленная 26</p>
                            </div>
                        </div>


                </div>

            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2021 PROKES.RUS. Все права защищены.
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
