{% extends 'base.html' %}
<!-- banner -->

{% block tabs_bar %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url "main" %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "workers_list" %}">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "goods_list" %}">Изделия</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "material_list" %}">Материалы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "supplier_list" %}">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "customer_list" %}">Заказчики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "nariad_list" %}">Наряды</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "otk_list" %}">ОТК</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "storage_goods_list" %}">Изделия на складе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "storage_material_list" %}">Материалы на складе</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Отчеты</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url "released_goods_report_month" %}">Всего изделий</a></li>
                    <li><a class="dropdown-item" href="{% url "good_goods_report_month" %}">Хороших изделий</a></li>
                    <li><a class="dropdown-item" href="{% url "remove_goods_report_month" %}">Бракованных изделий</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url "used_material_report_month" %}">Расход материала</a></li>
                </ul>
            </li>
        </ul>
{% endblock tabs_bar %}

{% block content %}
        <section class="ab-info-main py-md-5 py-4 editContent px-lg-5" style="min-width: 320px">
            <div class="container-fluid py-md-3">
                <div class="row">
                    {% block customer %}

                    {% endblock customer %}
                </div>
            </div>
        </section>
{% endblock content %}