{% extends 'customer/base.html' %}
{% block title %} Заказщик:  {{ customer.name }} {% endblock title %}
{% block header_title %} Заказщик: {{ customer.name }} {% endblock header_title %}

{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}

{% block customer %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">

{#    Сделать "изменение #}
<input type="button" onclick='location.href="{% url "customer_create" %}"' value="Изменить информацию о заказчике">
{# Красиво выводить#}

        {#                Изменить стили #}
        <div class="row">
            {#                        <div class="desc1-left col-md-6">#}
            {#                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">#}
            {#                        </div>#}
            <div class="desc1-right col-md-6 pl-lg-4" >
                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">
                    {{ customer.name }}
                </h3>
                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Email: </b> {{ customer.email }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Номер телефона: </b> {{ customer.phone_number }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Представитель: </b> {{ customer.representative }}</span>
                    </li>
                </ul>
            </div>
        </div>
{#        Календарь поставок#}
    <h3>Даты заказов:</h3>
        {% for good in date %}
            <b>Дата заказа: </b>{{ good.date }}<br>

        {% endfor %}
{% for good in goods %}
    {{ good.order }}
    {% endfor %}

{#    Ввод данных #}

        <div class="row sub-para-w3layouts mt-5">
            <form method="post" enctype="multipart/form-data" name="create" id="form_goods_create">
                <h3>Добавить дату заказа</h3><br>
                {% csrf_token %}
                Имя заказчика:{{ form.customer_name }}<br>
                Дата заказа:{{ form.date }}<br>
                <div id="div_goods" onchange="disable_button()">
                    Код изделия:{{ form.code_goods }}<br>
                    Количество:{{ form.values }}<br><hr>
                </div>
                <div onchange="disable_button()" id="new_goods" >

                </div>

                <input onclick="add_goods_more()" id="more_goods" disabled type="button" value="Создать еще изделие"><br>
                <input type="submit" value="Подтвердить" onclick="add_good()">

                <span>{{ error }}</span>
                {{ form.order }}
            </form>
        </div>
    </div>
    <!-- //contact -->
    <script>
        let i=0;
        // Список заказа
        let textarea = document.getElementById("id_order");
        //Очистка блока
        textarea.value = "";
        textarea.editable = false;
        document.getElementById("id_code_goods").value = "";
        document.getElementById("id_values").value = "";

        //Разблокировка кнопок
        function disable_button() {
            let code_goods = document.getElementById("id_code_goods");
            let id_values = document.getElementById("id_values");
            let btn = document.getElementById("more_goods");
            if (i<=2) {
                if (code_goods.options[code_goods.selectedIndex].text != "" && id_values.value != "") {
                    btn.disabled = false;
                }
            }
            else{
                if (document.getElementById("id_code_goods"+(i-1)).
                        options[document.getElementById("id_code_goods"+(i-1)).selectedIndex].text != "" &&
                    document.getElementById("id_values"+(i-1)).value != "") {
                    btn.disabled = false;
                }
            }
        }

        //Добавление в блок
        function add_good() {
            let code_goods = document.getElementById("id_code_goods");
            let id_values = document.getElementById("id_values");

            if (i<=2){
                //Если изделие не пустое
                if (code_goods.options[code_goods.selectedIndex].text != "" && id_values.value != ""){
                    textarea.value +="Код изделия: " + document.getElementById("id_code_goods").
                        options[document.getElementById("id_code_goods").selectedIndex].text + "<br>";
                    textarea.value +="Количество: " + document.getElementById("id_values").value + "<br>";
                }
            }
            else{
                if (document.getElementById("id_code_goods"+(i-1)).
                        options[document.getElementById("id_code_goods"+(i-1)).selectedIndex].text != "" &&
                    document.getElementById("id_values"+(i-1)).value != ""){
                    textarea.value +="Код изделия: " + document.getElementById("id_code_goods"+(i-1)).
                        options[document.getElementById("id_code_goods"+(i-1)).selectedIndex].text + "<br>";
                    textarea.value +="Количество:" + document.getElementById("id_values"+(i-1)).value + "<br>";
                }
            }
        }

        //Создание нового изделия
        function add_goods_more(){
            //Кнопка
            let btn = document.getElementById("more_goods");
            //Новый див в который добавляем
            let new_goods = document.getElementById("new_goods");
            //Код изделия
            let code_goods = document.getElementById("id_code_goods").cloneNode(true);
            //Количество
            let id_values = document.getElementById("id_values").cloneNode(true);

            //Проверка на i
            add_good(textarea)

            //Создание нового блока
            new_goods.insertAdjacentHTML('beforeend', "Код изделия:");
            new_goods.appendChild(code_goods);
            code_goods.id+=i;
            if(code_goods.id == "id_code_goods"+i){
                document.getElementById("id_code_goods"+i).value = "";
            }
            new_goods.insertAdjacentHTML('beforeend', "<br>Количество:");
            new_goods.appendChild(id_values);
            id_values.id += i;
            if(id_values.id == "id_values"+i){
                document.getElementById("id_values"+i).value = ""
            }
            new_goods.insertAdjacentHTML('beforeend', "<br><hr>");

            btn.disabled = true;
            i++;
        }

        //Скрытый <select> для редактирования заказчика
        //Имя заказчика
        let customer_name = document.getElementById("id_customer_name");
        for(i=0; i<customer_name.options.length; i++){
            if(customer_name.options[i].value == "{{ customer.id }}"){
                customer_name.selectedIndex = i;
            }
        }
    </script>
{% endblock customer %}