{% extends 'customer/base.html' %}
{% block title %} Заказщик:  {{ customer.name }} {% endblock title %}
{% block header_title %} Заказщик: {{ customer.name }} {% endblock header_title %}

{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}

{% block customer %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">

{#    Сделать "изменение #}
<input type="button" onclick='location.href="{% url "customer_create" %}"' value="Изменить информацию о заказчике">
{# Красиво выводить#}

        {#                Изменить стили #}
        <div class="row">
            {#                        <div class="desc1-left col-md-6">#}
            {#                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">#}
            {#                        </div>#}
            <div class="desc1-right col-md-6 pl-lg-4" >
                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">
                    {{ customer.name }}
                </h3>
                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Email: </b> {{ customer.email }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Номер телефона: </b> {{ customer.phone_number }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Представитель: </b> {{ customer.representative }}</span>
                    </li>
                </ul>
            </div>
        </div>
{#        Календарь поставок#}
    <h3>Даты заказов:</h3>
        {% for good in date %}
            <b>Дата заказа: </b>{{ good.date }}<br>
            {% for goods in goods %}
                    {% if good.date == goods.date %}
                        <span> <b>Код изделия: </b>{{ goods.code_goods }}, <b>Количество: </b>{{ goods.values }}</span><br>
                    {% endif %}
            {% endfor %}
            <br>
        {% endfor %}

{#    Ввод данных #}

        <div class="row sub-para-w3layouts mt-5">

            <form method="post" enctype="multipart/form-data" name="create">
                <h3>Добавить дату заказа</h3><br>
                {% csrf_token %}
                <div hidden>Имя заказчика:{{ form.customer_name }}<br></div>
                Дата поставки:{{ form.date }}<br>
                Код изделия:{{ form.code_goods }}<br>
                Код изделия:{{ form.code_goods }}<br>
                Количество:{{ form.values }}<br>

                <span>{{ error }}</span>
                <button type="submit">Подтвердить</button>
            </form>

        </div>
    </div>
    <!-- //contact -->
    <script>
        //Скрытый <select> для редактирования заказчика
        let code_goods = document.getElementById("id_code_goods");
        code_goods.selectedIndex = 0;
        let id_values = document.getElementById("id_values");
        id_values.value = "";
        let customer_name = document.getElementById("id_customer_name");
        for(i=0; i<customer_name.options.length; i++){
            if(customer_name.options[i].value == "{{ customer.id }}"){
                customer_name.selectedIndex = i;
            }
        }
    </script>
{% endblock customer %}