{% extends 'customer/base.html' %}
{% block title %} Заказщик:  {{ customer.name }} {% endblock title %}
{% block header_title %} Заказщик: {{ customer.name }} {% endblock header_title %}

{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}

{% block customer %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">

{#    Сделать "изменение #}
<input type="button" onclick='location.href="update"' value="Изменить информацию о заказчике">
<input type="button" onclick='location.href="delete"' value="Удалить заказчика">
{# Красиво выводить#}

        {#                Изменить стили #}
        <div class="row">

            <div class="desc1-right col-md-6 pl-lg-4" >
                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">
                    {{ customer.name }}
                </h3>
                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Email: </b> {{ customer.email }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Номер телефона: </b> {{ customer.phone_number }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Представитель: </b> {{ customer.representative }}</span>
                    </li>
                </ul>
            </div>
        </div>
{#        Календарь поставок#}
    <h3>Даты заказов:</h3>
        {% for goods_date in date %}
            <b>Дата заказа: </b>{{ goods_date.date }}<br>
                {% for goods in goods %}
                    {% if goods.date == goods_date.date %}
                        <b>Код изделия:</b> {{ goods.goods_code }}<br>
                        Количество: {{ goods.values }}<br>
                    {% endif %}
                {% endfor %}<hr>
        {% endfor %}

{#    Ввод данных #}
        <div class="row sub-para-w3layouts mt-5">
            <form method="post" enctype="multipart/form-data" name="create" id="form_goods_create">
            <h3>Добавить дату заказа</h3><br>
                {% csrf_token %}
            {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}<hr>
                {% endfor %}
                <input type="submit" value="Подтвердить">
            </form>
        </div>

    </div>
    <!-- //contact -->
{% endblock customer %}