{% extends "goods/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование материала
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование материала
{% endblock header_title %}

{% block header_image %}
<div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block goods %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о материале</h3>
            {{ form }}

      <span>{{ error }}</span>
        <button type="submit">Подтвердить</button>
        </form>

{% endblock goods %}