{% extends "materials/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование материала
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование материала
{% endblock header_title %}


{% block material %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о материале</h3>
        Код материала:{{ form.code }} <br>
        Вес смеси:{{ form.weight }} <br>
        Номер партии:{{ form.batch_number }} <br>
        Номер поддона:{{ form.pallet_number }} <br>

      <span>{{ error }}</span>
        <button type="submit" class="btn btn-success">Подтвердить</button>
        </form>

{% endblock material %}