{% extends 'goods/base.html' %}
{% block title %}Изделие: {{ goods.code }} {% endblock title %}
{% block header_title %}Изделие: {{ goods.code }} {% endblock header_title %}

{% block goods %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">
        {#                Изменить стили #}
        <div class="container">

            <div class="desc1-right col-md-6 pl-lg-4" >

                <ul style="margin-top: 15px">
                    <li style="list-style: none"><span><b>Вес чистой детали: </b>{{ goods.weight_clean }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Норма с ковром: </b>{{ goods.norma_with_carpet }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Расход смеси: </b>{{ goods.consumption_smesi }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Норма на одного человека: </b>{{ goods.one_person_norma }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Норма на двух человек: </b>{{ goods.two_person_norma }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Лимит брака: </b>{{ goods.defect_limit }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Средняя температура: </b>{{ goods.min_temperature }} - {{ goods.max_temperature }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Средняя выдержка: </b>{{ goods.min_malt }} - {{ goods.max_malt }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Среднее давление: </b>{{ goods.min_pressure }} - {{ goods.max_pressure }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Средняя твердость: </b>{{ goods.min_strength }} - {{ goods.max_strength }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Единицы измерения: </b>
                            {{ goods.measurement }}
                    </span>
                    </li>

                </ul>
            </div>
        </div>
        {#                        # таблица#}
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-responsive">
                    <tr>
                        <td>Дата</td>
                        <td>Всего</td>
                        {% for date in calendar %}
                            <td>
                                {{ date.month.month }} - {{ date.month.year }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Отлито шт.</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.lith }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Брак шт.</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.remote }}%</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Брак %</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.remote_percent }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Смена выработки на 1 человека в СРЕДНЕМ</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.one_man_sr }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Смена выработки на 1 человека МАКСИМАЛЬНО</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.one_man_max }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Смена выработки на 2 человек в СРЕДНЕМ</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.two_man_sr }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Смена выработки на 2 человека МАКСИМАЛЬНО</td>
                        <td>  </td>
                        {% for info in calendar %}
                            <td>{{ info.two_man_max }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- //contact -->
{% endblock goods %}