{% extends 'goods/base.html' %}

{% block title %} Список изделий {% endblock title %}
{% block header_title %} Список изделий {% endblock header_title %}


{% block goods %}
{% include 'include/sidebars/goods_sidebar.html'%}
    <!-- product right -->
    <div class="left-ads-display col-lg-9">
    <input type="button" onclick='location.href="{% url "goods_create" %}"' value="Создать новое изделие">
        <div class="row">
            {% for goods in goods_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="men-thumb-item">
                            {% if goods.image %}
                                <img src="{{ goods.image.url }}" class="img-fluid" alt="" >
                            {% endif %}
                        </div>
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ goods.id }}" class="editContent" >
                                    {{ goods.code }}
                                </a>
                            </h4>
                            <div class="product_price">
                                <div class="grid-price">
                                    <a href="{{ goods.id }}"><span class="money editContent" >{{ goods.code }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="grid-img-right mt-4 text-right bg bg1" >
            {% include 'include/pagination/goods_pagination.html' %}
        </div>
    </div>
    <!-- //contact -->
{% endblock goods %}