{% extends "goods/base.html" %}
{% block title %} Создать новое изделие {% endblock title %}
{% block header_title %} Создать новое изделие {% endblock header_title %}
{% block header_image %}
<div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}

{% block goods %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.code }}<br>
        Фотография изделия:{{ form.image }}<br>
        {{ form.measurement }}<br>
        {{ form.url }}

        <span>{{ error }}</span>

        <button type="submit">Подтвердить</button>
        </form>
{% endblock goods %}