{% extends 'materials/base.html' %}

{% block title %} Список материалов {% endblock title %}


{% block material %}
    <style>
        a{
            color: black;
        }
        a:hover{
            color: #007bff;
        }
    </style>
    <style>
        .bitbutton {
            border: 2px solid black;
            background-color: white;
            color: black;
        {#padding: 14px 28px;#}
            font-size: 16px;
            cursor: pointer;
        }
        /* Blue */
        .info {
            border-color: #2196F3;
            color: dodgerblue;
            border-radius: 8px 8px 8px 8px;
        }
        .info:hover {
            background: #2196F3;
            color: white;
        }
    </style>
        {% include 'include/sidebars/material_sidebar.html' %}
    <!-- product right -->


    <div class="left-ads-display col-lg-9">
        <div class="form-group row">
            <input type="button" style="margin-left: 15px" class="bitbutton info" onclick='location.href="{% url "goods_create" %}"' value="Добавить новый материал">
            <label style="margin-left: 15px" for="id_worker_select" class="col-form-label col-form-label-sm">Сортировать по:</label>
            <div class="col-sm-4">
                <select name="" id="id_select_sort" data-sort-url="{% url 'material_create' %}" class="form-control">
                    <option value="0">----------------</option>
                    <option value="1">Код изделия: Возрастанию</option>
                    <option value="2">Код изделия: Убыванию</option>
                    {#            <option value="3">Коду сотрудника: Возрастанию</option>#}
                    {#            <option value="4">Коду сотрудника: Убыванию</option>#}
                </select>
            </div>
        </div>


    <div class="" id="id_content" style="margin-top: 15px">
            <table class="table table-bordered table-hover">
                <thead>
                <th>Код материала</th>
                <th>Вес</th>
                </thead>
                <tbody>
                {% for material in materials_list %}
                    <tr>
                        <td><a href="{{ material.id }}" title="Перейти на страницу изделия {{ material.code }}">{{ material.code }}</a></td>
                        <td><a href="{{ material.id }}" title="Перейти на страницу изделия {{ material.code }}">{{ material.weight }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $("#id_select_sort").change(function () {
            const url = $("#id_select_sort").attr("data-sort-url");
            const id_sort = $('#id_select_sort').val();  // get the selected country ID from the HTML input
            console.log(id_sort)

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'id_sort': id_sort       // add the country id to the GET parameters
                },
                success: function (data) {
                    $("#id_content").html(data);  // replace the contents of the city input with the data that came from the server

                }
            });

        });

    </script>
{% endblock material %}
