{% extends 'materials/base.html' %}

{% block title %} Список материалов {% endblock title %}
{% block header_title %} Список материалов {% endblock header_title %}


{% block material %}
        {% include 'include/sidebars/material_sidebar.html' %}
    <!-- product right -->
    <div class="left-ads-display col-lg-9">
            <input type="button" onclick='location.href="{% url "material_create" %}"' value="Добавить новый материал">
        <div class="row">
            {% for material in materials_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ material.id }}" class="editContent" >
                                    {{ material.code }}
                                </a>
                            </h4>
                            <div class="product_price">
                                <div class="grid-price">
                                    <a href="{{ material.id }}"><span class="money editContent" >{{ material.code }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        <div class="grid-img-right mt-4 text-right bg bg1" >#}
{#            {% include 'include/pagination/material_pagination.html' %}#}
{#        </div>#}
    </div>
    <!-- //contact -->
{% endblock material %}
