{% extends 'materials/base.html' %}
{% block title %} Материал: {{ material.code }} {% endblock title %}
{% block header_title %} Материал: {{ material.code }} {% endblock header_title %}

{% block material %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">
        {#                Изменить стили #}
        <input type="button" onclick='location.href="update"' value="Редактировать материал">
        <input type="button" onclick='location.href="delete"' value="Удалить материал">
        <div class="row">
            <div class="desc1-right col-md-6 pl-lg-4" >

                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">{{ material.code }}</h3>
                {#                            <h5 class="editContent"></h5>#}

                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Код смеси: </b>{{ material.code }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Вес смеси: </b>{{ material.weight }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Номер партии: </b>{{ material.batch_number }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Номер поддона: </b>{{ material.pallet_number }}</span>
                    </li>



                    <div class="share-desc">
                        <div class="clearfix"></div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            
            <p>
                <img src="bundles/images/about.jpg" class="img-fluid" alt="">
                <img src="bundles/images/admin.jpg" class="img-fluid" alt="">
                <img src="bundles/images/d1.jpg" class="img-fluid" alt="">
            </p>

        </div>
        {#                    Полоска#}
        {#                    <hr>#}
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
                {#                Изменить стили #}

                <!--  //contact form grid ends here -->
            </div>

        </div>
    </div>
    <!-- //contact -->
{% endblock material %}