{% extends 'suppliers/base.html' %}
{% block title %} Заказщик:  {{ suppliers.name }} {% endblock title %}
{% block header_title %} Заказщик: {{ suppliers.name }} {% endblock header_title %}

{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">
{% endblock header_image %}
{% block suppliers %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">

<input type="button" onclick='location.href="{% url "suppliers_create" %}"' value="Добавить информацию о поставках">
{# Красиво выводить#}

        {#                Изменить стили #}
        <div class="row">
            {#                        <div class="desc1-left col-md-6">#}
            {#                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">#}
            {#                        </div>#}
            <div class="desc1-right col-md-6 pl-lg-4" >
                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">
                    {{ suppliers.name }}
                </h3>
                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Email: </b> {{ suppliers.email }}</span></li>
                    <li style="list-style: none">

                        <span><b>Дата заказа: </b>
                            {% for goods in goods %}
                                {{ goods.date }}</span>
                            {% endfor %}
                    </li>

                    <li style="list-style: none">{% for goods in goods %}<span><b>Код изделия: </b>
                        {{ goods.code_goods }}, <span><b>Количество: </b>{{ goods.values }}</span><br>
                    {% endfor %}
                        </span>
                    </li>

                    <div class="share-desc">
                        <div class="clearfix">

                        </div>
                    </div>
                </ul>
            </div>
        </div>
{#    Ввод данных #}
        <div class="row sub-para-w3layouts mt-5">
            <form method="post" enctype="multipart/form-data" name="create">
                {% csrf_token %}
                Имя заказчика:{{ form.supplier_name }}<br>
                Дата поставки:{{ form.date }}<br>
                Код изделия:{{ form.code_goods }}<br>
                Количество:{{ form.values }}<br>

                <span>{{ error }}</span>
                <button type="submit">Подтвердить</button>
            </form>
            {#                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">#}
            {#                            О фильме {{ movie.title }}#}
            {#                        </h3>#}
            <p>
                <img src="bundles/images/about.jpg" class="img-fluid" alt="">
                <img src="bundles/images/admin.jpg" class="img-fluid" alt="">
                <img src="bundles/images/d1.jpg" class="img-fluid" alt="">
            </p>

        </div>
        {#                    Полоска#}
        {#                    <hr>#}
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
{#                Изменить стили #}

                <!--  //contact form grid ends here -->
            </div>
        </div>
    </div>
    <!-- //contact -->
    <script>
    //Скрытый <select> для редактирования календаря
    let code_goods = document.getElementById("id_code_goods");
    code_goods.selectedIndex = 0;
    let id_values = document.getElementById("id_values");
    id_values.value = "";
    let suppliers_name = document.getElementById("id_supplier_name");
        for(i=0; i<suppliers_name.options.length; i++){
            if(suppliers_name.options[i].value == "{{ suppliers.id }}"){
                suppliers_name.selectedIndex = i;
            }
        }
</script>
{% endblock suppliers %}