{% extends "storage_goods/base.html" %}
{% load static %}


{% block storage_goods %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form method="post" enctype="multipart/form-data" id="goods_create_Form" data-goods-url="{% url 'ajax_load_goods' %}" name="create" class="col-6" style="min-width: 320px;background-color: #f0f2f5; border-radius: 5px;">
                {% csrf_token %}
                <h3 style="text-align: center; margin-top: 15px; margin-bottom: 15px"> Создание/редактирование изделия на складе </h3>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <label for="id_nariad_code">Код изделия: </label>
                        {{ form.goods_code }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <label for="id_nariad_code">Количество на складе: </label>
                        {{ form.value }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <label for="id_nariad_code">Имя заказчика: </label>
                        {{ form.customer_code }}
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <label for="id_nariad_code">Код заказа: </label>
                        {{ form.customer_checkout }}
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-8">
                        <label for="id_nariad_code">Дата проверки: </label>
                        {{ form.date }}
                    </div>
                </div>

                {{ form.errors }}
                <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Подтвердить</button>
            </form>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    let id_goods_code = document.getElementById('id_goods_code'); id_goods_code.className = 'form-control';
    let id_value = document.getElementById('id_value'); id_value.className = 'form-control';
    let id_customer_code = document.getElementById('id_customer_code'); id_customer_code.className = 'form-control';
    let id_customer_checkout = document.getElementById('id_customer_checkout'); id_customer_checkout.className = 'form-control';
    let id_date = document.getElementById('id_date'); id_date.className = 'form-control'; id_date.type = 'date';

    $("#id_goods_code").change(function () {
        const url = $("#goods_create_Form").attr("data-goods-url");
        const goods_code = $('#id_goods_code option:selected').text();
        const customer_code = $('#id_customer_code option:selected').text();

        $.ajax({
            url: url,
            data: {
                'id_customer_code': customer_code,
                'id_goods_code': goods_code
            },
            success: function (data) {
                $("#id_customer_checkout").html(data);

            }
        });

    });

    $("#id_customer_code").change(function () {
        const url = $("#goods_create_Form").attr("data-goods-url");
        const customer_code = $('#id_customer_code option:selected').text();
        const goods_code = $('#id_goods_code option:selected').text();

        $.ajax({
            url: url,
            data: {
                'id_customer_code': customer_code,
                'id_goods_code': goods_code
            },
            success: function (data) {
                $("#id_customer_checkout").html(data);

            }
        });

    });
</script>
{% endblock storage_goods %}