{% extends "goods/base.html" %}

{#Надпись в Title#}
{% block title %}
    Удаление формы изделия изделия
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
   Удаление формы изделия изделия
{% endblock header_title %}

{#Надпись в шапке#}
{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block goods %}
<h3>Вы действительно хотите удалить форму изделия?</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button type="submit">Удалить форму изделия</button>
        </form>
{% endblock goods %}