{% extends "goods/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование формы изделия
{% endblock title %}


{% block goods %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <form method="post" enctype="multipart/form-data" name="create" class="col-6" style="min-width: 320px;background-color: #f0f2f5; border-radius: 5px;">
                {% csrf_token %}
                <h3 id="form-h3-content" style="text-align: center; margin-top: 15px; margin-bottom: 15px;">Создание/редактирование формы изделия {{ goods.code }}</h3>
                <div hidden>Код изделия: {{ form.goods_code }}</div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_duplicate">Название дубликата: </label>
                        {{ form.duplicate }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_cleaning_period">Период чистки:</label>
                        {{ form.cleaning_period }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_number_nest">Номер гнезда формы: </label>
                        {{ form.number_nest }}
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_percent_mass">Процент массы: </label>
                        {{ form.percent_mass }}
                    </div>
                </div>
                <span>{{ error }}</span>
                <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Подтвердить</button>
            </form>
        </div>
    </div>
    <script>
        let id_goods_code = document.getElementById('id_goods_code'); id_goods_code.className = 'form-control';
        let id_duplicate = document.getElementById('id_duplicate'); id_duplicate.className = 'form-control';
        let id_cleaning_period = document.getElementById('id_cleaning_period'); id_cleaning_period.className = 'form-control';
        let id_number_nest = document.getElementById('id_number_nest'); id_number_nest.className = 'form-control';
        let id_percent_mass = document.getElementById('id_percent_mass'); id_percent_mass.className = 'form-control';
        for(i=0; i<id_goods_code.options.length; i++){
            if(id_goods_code.options[i].value == "{{ goods.id }}"){
                id_goods_code.selectedIndex = i;
            }
        }

    </script>

{% endblock goods %}