{% extends "workers/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование сотрудника
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование сотрудника
{% endblock header_title %}


{% block worker %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о сотруднике</h3>
        Код сотрудника:{{ form.code }}<br>
        ФИО сотрудника: {{ form.name }}<br>
        Дата рождения: {{ form.birthday }}<br>
        Должность сотрудника: {{ form.category }}<br>
        Номер телефона сотрудника: {{ form.phone_number }}<br>
        Почта сотрудника (опционально): {{ form.email }}<br>
        Оклад: {{ form.salary }}<br>
        <span>{{ error }}</span>
        <button type="submit">Подтвердить</button>
        </form>

{% endblock worker %}