{% extends "storage_materials/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование материала
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование материала
{% endblock header_title %}


{% block storage_materials %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о материале</h3>
        Код изделия: {{ form.material_code }}<br>
        Количество: {{ form.value }}<br>
        Дата: {{ form.date }}<br>

      <span>{{ error }}</span>
        <button type="submit">Подтвердить</button>
        </form>

{% endblock storage_materials %}