{% extends 'nariad/base.html' %}
{% block header_image %}
    {% if goods.image %}
        <div class="main-banner bg bg1" id="home" style="background: url('{{ goods.image.url }}')">
    {% else %}
        <div class="main-banner bg bg1" id="home" style="background: url('../../media/header_image.jpg')">

    {% endif %}
{% endblock header_image %}

{% load static %}
{% block title %}Наряд: {{ nariad.code }} {% endblock title %}
{% block header_title %}Наряд: {{ nariad.code }} {% endblock header_title %}

{% block nariad %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">
        {#                Изменить стили #}
        <div class="container">

            <div class="desc1-right col-md-6 pl-lg-4" >

                <form>
                    <input type="button" onclick='location.href="update"' value="Редактировать изделие">
                    <input type="button" onclick='location.href="delete"' value="Удалить изделие">
                </form>
                <ul style="margin-top: 15px">
                    <li style="list-style: none"><span><b>Код наряда: </b>{{ nariad.code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Код сотрудника: </b>{{ nariad.worker_code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Код изделия: </b>{{ nariad.goods_code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Код смеси: </b>{{ nariad.material_code }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Количество: </b>{{ nariad.value }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Дата: </b>{{ nariad.date }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Расход смеси: </b>{{ nariad.consumption }}</span>
                    </li>


                </ul>
            </div>
        </div>
    </div>

{% endblock nariad %}
