{% extends "customer/base.html" %}

{#Надпись в Title#}
{% block title %}
    Удаление заказчика
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Удаление заказчика
{% endblock header_title %}

{#Надпись в шапке#}
{% block header_image %}
    <div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block customer %}
<h3>Вы действительно хотите удалить заказчика?</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <button type="submit">Удалить заказчика</button>
        </form>
{% endblock customer %}