{% extends 'base.html' %}
<!-- banner -->
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 1rem; padding-right: 1rem;">
        <div class="container-fluid py-md-3">
            <div class="row">
            {% if "worker_list.html" %}
                {% include 'include/sidebars/workers_sidebar.html' %}
            {% else %}
                {% include 'include/sidebar.html' %}
            {% endif %}
                {% block worker %}

                {% endblock worker %}
            </div>
        </div>
    </section>
{% endblock content %}