{% extends 'workers/base.html' %}

{% block title %} Список сотрудников {% endblock title %}
{% block header_title %} Список сотрудников {% endblock header_title %}

{% block worker %}
    <!-- product right -->
    <div class="left-ads-display col-lg-9">
            <input type="button" onclick='location.href="{% url "workers_create" %}"' value="Создать нового сотрудника">
        <div class="row">
            {% for worker in workers_list %}
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info editContent text-center mt-lg-4" >
                        <div class="item-info-product">
                            <h4 class="">
                                <a href="{{ worker.code }}" class="editContent" >
                                    {{ worker.name }}
                                </a>
                            </h4>
                            <div class="product_price">
                                <div class="grid-price">
                                    <a href="{{ worker.code }}"><span class="money editContent" >{{ worker.category }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="grid-img-right mt-4 text-right bg bg1" >
            {% include 'include/pagination/worker_pagination.html' %}
        </div>
    </div>
    <!-- //contact -->
{% endblock worker %}
