
{% for worker in page_obj %}
    <div class="col-md-4 product-men">
        <div class="product-shoe-info editContent text-center mt-lg-4" >
            <div class="item-info-product">
                <h4 class="">
                    <a href="{{ worker.code }}" class="editContent" >
                        Код:{{ worker.code }} | {{ worker.name }}
                    </a>
                </h4>
                <div class="product_price">
                    <div class="grid-price">
                        <a href="{{ worker.code }}"><span class="money editContent" >{{ worker.category }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
