{% extends 'workers/base.html' %}
{% block title %} {{ workers.name }} {% endblock title %}

{% block worker %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form enctype="multipart/form-data" class="col-8" style="min-width: 320px;background-color: #f0f2f5; border-radius: 5px;">
                <h3 class="editContent" style="text-align: center; margin-top: 15px; margin-bottom: 5px">Сотрудник: {{ workers.name }}</h3>
                <div style="text-align: center; margin-top: 5px; margin-bottom: 15px">{{ workers.category }} <br>
                    <input class="btn btn-info" type="button" onclick='location.href="update"' value="Редактировать сотрудника">
                    <input class="btn btn-danger" type="button" onclick='location.href="delete"' value="Удалить сотрудника">
                </div>
                <div class="form-row justify-content-center" style="margin-top: 20px">
                    <div class="form-group col-sm-4">
                        <h5>Код:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.code }}</label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>ФИО:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.name }}</label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>Должность:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.category }}</label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>Дата рождения:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.birthday }}</label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>Номер телефона:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.phone_number }}</label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>Email:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label> <a href="mailto:{{ workers.email }}">{{ workers.email }}</a></label>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-sm-4">
                        <h5>Оклад:</h5>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>{{ workers.salary }} рублей</label>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock worker %}