{% extends 'remote/base.html' %}
{% block title %} Код списания:{{ remote.id }} {% endblock title %}
{% block header_title %} Код списания: {{ remote.id }}<br>Дата списания:<br> {{ remote.delete_date }} {% endblock header_title %}

{% block remote %}
    <!-- product right -->
    <div class="left-ads-display col-lg-8">
        {#                Изменить стили #}
        <div class="row">
            {#                        <div class="desc1-left col-md-6">#}
            {#                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">#}
            {#                        </div>#}
            <div class="desc1-right col-md-6 pl-lg-4" >
                <h3 class="editContent" style="outline: none; cursor: inherit; margin-bottom: 0px">
                    Код списания: {{ remote.id }}
                </h3>
                <span>{{ remote.name.capitalize }}</span>
                                            <h5 class="editContent"></h5>
                <ul style="margin-top: 15px">
                    <li style="list-style: none">
                        <span><b>Дата списания: </b> {{ remote.delete_date }}</span></li>
                    <li style="list-style: none">
                        <span><b>Название: </b> {{ remote.name.capitalize }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Код смеси: </b>
                                    {{ remote.code_smesi }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Код изделия: </b>
                                    {{ remote.code_goods }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Количество: </b>
                                    {{ remote.value }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Норма: </b>
                                    {{ remote.norma }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Брак сырья: </b>
                                    {{ remote.scrap_materials }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Затраты сырья: </b>
                                    {{ remote.costs_material }}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Единицы измерения: </b>
                                    {{ remote.measurement }}
                                    </span>
                    </li>
                    {#                                <li style="list-style: none">#}
                    {#                                    <a href="#"><b>Рейтинг:</b>#}
                    {#                                        <span class="fa fa-star" aria-hidden="true"#}
                    {#                                              style="outline: none; cursor: inherit;"></span>#}
                    {#                                        <span class="fa fa-star" aria-hidden="true"#}
                    {#                                              style="outline: none; cursor: inherit;"></span>#}
                    {#                                        <span class="fa fa-star" aria-hidden="true"#}
                    {#                                              style="outline: none; cursor: inherit;"></span>#}
                    {#                                        <span class="fa fa-star" aria-hidden="true"#}
                    {#                                              style="outline: none; cursor: inherit;"></span>#}
                    {#                                        <span class="fa fa-star" aria-hidden="true"#}
                    {#                                              style="outline: none; cursor: inherit;"></span>#}
                    {#                                        <span class="editContent"#}
                    {#                                              style="outline: none; cursor: inherit;">5.0</span>#}
                    {#                                    </a>#}
                    {#                                </li>#}
                    <div class="share-desc">
                        <div class="clearfix"></div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">

            {#                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">#}
            {#                            О фильме {{ movie.title }}#}
            {#                        </h3>#}
            <p>
                <img src="bundles/images/about.jpg" class="img-fluid" alt="">
                <img src="bundles/images/admin.jpg" class="img-fluid" alt="">
                <img src="bundles/images/d1.jpg" class="img-fluid" alt="">
            </p>
            {#                        <p class="editContent" style="outline: none; cursor: inherit;">#}
            {#                            {{ movie.description }}#}
            {#                        </p>#}
            {#                        <p class="mt-3 italic-blue editContent"#}
            {#                           style="outline: none; cursor: inherit;">#}
            {#                            <iframe width="560" height="315"#}
            {#                                    src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"#}
            {#                                    frameborder="0" allow="accelerometer; autoplay;#}
            {#                                                                           encrypted-media; gyroscope; picture-in-picture"#}
            {#                                    allowfullscreen>#}
            {##}
            {#                            </iframe>#}
            {#                        </p>#}
        </div>
        {#                    Полоска#}
        {#                    <hr>#}
        <div class="row">
        </div>
    </div>
    <!-- //contact -->
{% endblock remote %}