{% extends "goods/base.html" %}

{#Надпись в Title#}
{% block title %}
    Создание/редактирование изделия
{% endblock title %}

{#Надпись в шапке#}
{% block header_title %}
    Создание/редактирование изделия
{% endblock header_title %}

{% block header_image %}
<div class="main-banner bg bg1" id="home" style="background: url('../../../media/header_image.jpg')">
{% endblock header_image %}

{% block goods %}

    <form method="post" enctype="multipart/form-data" name="create">
        {% csrf_token %}
        <h3>Введите информацию о детали</h3>
        Код изделия: {{ form.code }}<br>
        Название изделия: {{ form.name }}<br>
        Фотография изделия:{{ form.image }}<br>
        Вес чистой детали: {{ form.weight_clean }}<br>
        Норма на выгрузку: {{ form.norma_na_vigruzku }}<br>
        Расход смеси: {{ form.rashod_smesi }}<br>

      <span id="error">{{ error }}</span>
        <button type="submit" id="submit" class="btn-success">Подтвердить</button>
        </form>

{% endblock goods %}