{% extends "goods/base.html" %}

{#Надпись в Title#}
{% block title %}
    Удаление изделия
{% endblock title %}

{% block goods %}

        <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <form method="post" enctype="multipart/form-data" class="col-6" style="min-width: 320px;background-color: #f0f2f5; border-radius: 5px; text-align: center">
                {% csrf_token %}
                <h3 style="margin-top: 15px; margin-top: 15px;">Вы действительно хотите удалить изделие?</h3>
                <button type="submit" class="btn btn-danger" style="margin-top:15px;margin-bottom: 15px">Удалить изделие</button>
            </form>

        </div>
    </div>
{% endblock goods %}